.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91px;
    gap:8px;
}
.headerIco {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
.headerText{
    font-weight: 700;
    font-size: 20px;
    line-height: 25.94px;
}